@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  /* overflow: hidden; */
}

.fullPage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullPage__headline {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #406098;
}

.fullPage--c01 {
  background-color: #B3C2F2;
}

.fullPage--c02 {
  background-color: #735CDD;
}

.fullPage--c03 {
  background-color: #9000B3;
}

.fullPage--c04 {
  background-color: #7E007B;
}

.fullPage--c05 {
  background-color: #37000A;
}

.fullPage--c05 {
  min-height: 20vh;
}

.fullpage-nav {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  list-style-type: none;
}

*[data-fullpage-nav-item] {
  width: 7px;
  height: 7px;
  background-color: #fff;
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;
}